/***********
 orange:#ff7260;
 green:#9bd7d5;
 green-darker:#129793;
 
 text-shadow: 1px 1px 0 rgba(0,0,0,.75);
 ***********/

html,
body {
    height: 100%;
    color:#333;
}

/*** change fonts here ***/
h1, h2, .logo a{
font-family:'Stalemate', Times italic, Helvetica, Arial, sans-serif;
}

h3, h4, h5, h6, p, #navbar-contact .info a, #navbar-menu .navbar-nav>li>a{
    font-family:'Source Sans Pro', Helvetica, Arial, sans-serif;
}

/*** change colors here ***/
#navbar-contact{
    background-color:#ff7260;
}

h2{
    color:#ff7260;
}

#navbar-menu{
    background-color:#9bd7d5;
}

.main-carousel .carousel-indicators > li.active {
  background-color: #129793;
}

#navbar-menu .navbar-nav>.active>a, #navbar-menu .navbar-nav>li>a:hover, #navbar-menu .navbar-nav>li>a:focus,
.lib-panel h5.lib-title,
.accordion .link, .accordion li i, .accordion li.open .link, .accordion li.open i{
    color:#129793;
}

/********************************
          Typography     
********************************/

h1{
    font-size: 240px;
    line-height:180px;
    
}

@media (max-width:1200px){
    h1{
        font-size:200px;
        line-height:140px;
    }
}

@media(max-width:992px){
    h1{
        font-size:140px;
        line-height:120px;
    }
}

@media(max-width:768px){
    h1{
        font-size:100px;
        line-height:90px;
    }
}

@media(max-width:480px){
    h1{
        font-size:60px;
        line-height:50px;
    }
}

h2{
    font-size: 98px;
    line-height:80px;
    margin-bottom: 0px;
    
}

h3{
    font-size: 36px;
    margin-top:5px;
    color:#fff;
    font-weight:300;
    text-transform:uppercase;
    line-height:50px;
}

@media(max-width:768px){
    h3{
        font-size:30px;
        line-height:40px;
    }
}

h4{
    font-size: 24px;
    margin-top:5px;
    color:#333;
    font-weight:300;
    
}

h5{
    font-size: 22px;
    margin-top:5px;
    color:#333;
    font-weight:300;
    text-transform:uppercase;
}

h6{
    font-size: 16px;
}


p{
    font-size:18px;
    line-height:1.5;
     font-weight:300;
}

.text-shadow{
    text-shadow: 1px 2px 0 rgba(0,0,0,.4);
}

.text-color{
    color:#129793;
}

.color-inverse h2, .color-inverse h3, .color-inverse h4, .color-inverse p, .color-inverse h5, .color-inverse h6{
    color:#ffffff;
}


/********************************
          Custom Buttons      
********************************/

.btn.btn-lg {padding: 10px 40px;
}
.btn.btn-hero, .btn-default{
    color: #ffffff;
    background-color: #ff7260;
    border-color: #ff7260;
    outline: none;
    font-family:'Source Sans Pro', Helvetica, sans-serif;
    font-weight:300;
    font-size:18px;
}

.btn.btn-hero:hover, .btn-default:hover,
.btn.btn-hero:focus, .btn-default:focus {
    background-color: #129793;
    border-color: #129793;
    outline: none;
    color: #ffffff;
}

.btn.btn-hero{
    margin: 20px auto;
    font-size:20px;
}


/******************
 *GENERAL
 *****************/

.row-margin-bottom {
    margin-bottom: 20px;
}

.box-shadow {
    -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,.10);
    box-shadow: 0 0 10px 0 rgba(0,0,0,.10);
}

.no-padding {
    padding: 0;
}

.pt-40{
    padding-top: 40px;
}


/*****************
    NAVIGATION
****************/
.navbar{
    border-radius:0px;
    margin-bottom:0px;
}

@media(min-width:768px){
    #navbar-fixed{
        position:fixed;
        top:0;
        left:0;
        width:100%;
        z-index:1;
    }
}

/*** Navbar top row ***/

.logo{
     padding-top:10px;
     margin-bottom:-10px;
}

.logo .fa{
    padding-right:10px;
}

.logo a{
     color:#ffffff;
     font-size:45px;
     font-weight:400;
}

.logo a:hover{
    text-decoration:none;
    color:#ffffff;
}

#navbar-contact .info{
    margin-top:20px;
    margin-right:-5px;
}

#navbar-contact .info li{
    list-style-type: none;
    display: inline-block;
    margin-top:10px;
}

#navbar-contact .info>li>a {
    padding:10px 5px;
}

#navbar-contact .info a{
    font-size:16px;
    color:#ffffff;
    font-weight:300;
}

#navbar-contact .info a:hover{
    color:#ffffff;
    border-bottom:3px solid #ffffff;
    text-decoration:none;

}

.info{
  float:right;
  padding-left:0;
  padding-right:15px;
}

@media (max-width:768px){
   #navbar-contact .info{
        float:left;
        margin-top:0px;
        margin-bottom:13px;
}
}


/*** Navbar bottom row ***/

.navbar-toggle{
    border:2px solid #ffffff;
}

.navbar-toggle .icon-bar {
    background-color: #fff;
}

#navbar-menu .navbar-nav>li>a{
    font-variant: small-caps;
    font-size: 22px;
    color: #fff;
    font-weight:300;
    letter-spacing:0.02em;
    border-bottom:3px solid transparent;
}

#navbar-menu .navbar-nav>.active>a,
#navbar-menu .navbar-nav>li>a:hover,
#navbar-menu .navbar-nav>li>a:focus{
    border-bottom:3px solid #129793;
    transition:all 0.6s ease;
    -webkit-transition:all 0.6s ease;
    -moz-transition:all 0.6s ease;
    -o-transition:all 0.6s ease;
    
}

@media(max-width:768px){
    .navbar-toggle{
        float:left;
        margin-left:18px;
    }
}


/*****************
    CAROUSEL
****************/

@media(min-width:768px){
    #home-carousel {
        margin-top:115px;
    }
}

.main-carousel {
    position: relative;
    height: 60vh;
}

.main-carousel .carousel-inner .item {
    height: 60vh;
}

.main-carousel .carousel-indicators > li {
    background-color: #c0c0c0;
}

.main-carousel .carousel-indicators > li.active {
  width: 12px;
  height: 12px;
}

/*** Slides backgrounds ***/

.main-carousel .slides .slide-1, 
.main-carousel .slides .slide-2,
.main-carousel .slides .slide-3 {
  height: 60vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.main-carousel .slides .slide-1 {
  background-image: url(../img/home-carousel_slide1.jpg); 
}
.main-carousel .slides .slide-2 {
  background-image: url(../img/home-carousel_slide2.jpg); 
}
.main-carousel .slides .slide-3 {
  background-image: url(../img/home-carousel_slide3.jpg); 
}


/***  Hero Headers  ***/

.hero {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 3;
    text-align: center;
      -webkit-transform: translate3d(-50%,-50%,0);
         -moz-transform: translate3d(-50%,-50%,0);
          -ms-transform: translate3d(-50%,-50%,0);
           -o-transform: translate3d(-50%,-50%,0);
              transform: translate3d(-50%,-50%,0);
}

.hero h1 {
    margin: 0;
    padding: 0;
    color:#ffffff;
}

.hero p{
    font-size: 40px;
    color:#ffffff;
    text-transform:uppercase;
}

.main-carousel .carousel-inner .item .hero {
    opacity: 0;
    -webkit-transition: 2s all ease-in-out .1s;
       -moz-transition: 2s all ease-in-out .1s; 
        -ms-transition: 2s all ease-in-out .1s; 
         -o-transition: 2s all ease-in-out .1s; 
            transition: 2s all ease-in-out .1s; 
}
.main-carousel .carousel-inner .item.active .hero {
    opacity: 1;
    -webkit-transition: 2s all ease-in-out .1s;
       -moz-transition: 2s all ease-in-out .1s; 
        -ms-transition: 2s all ease-in-out .1s; 
         -o-transition: 2s all ease-in-out .1s; 
            transition: 2s all ease-in-out .1s;    
}

@media(max-width:992px){
   .hero p{
        font-size:30px;
    }
}

@media (max-width:768px){
   .hero p{
        font-size:20px;
    }
}

@media (max-width:480px){
   .hero.container{
        width:300px;
    }
}


/*** Carousel-controls ***/

.carousel-control.right, .carousel-control.left {
    background-image:-webkit-linear-gradient(left,rgba(0,0,0,0) 0,rgba(0,0,0,0) 100%);
    background-image:-moz-linear-gradient(left,rgba(0,0,0,0) 0,rgba(0,0,0,0) 100%);
    background-image:-ms-linear-gradient(left,rgba(0,0,0,0) 0,rgba(0,0,0,0) 100%);
    background-image:-o-linear-gradient(left,rgba(0,0,0,0) 0,rgba(0,0,0,0) 100%);
    background-image:linear-gradient(left,rgba(0,0,0,0) 0,rgba(0,0,0,0) 100%);
}


/*****************
    SECTIONS
****************/

.section-container{
    padding:90px 0px 120px 0px;
}   

.texture{
  display: block;
  position: relative;
}

.texture:after {
  content: "";
  background: url(../img/paper-texture.jpg);
  opacity: 0.3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}


/*******************
  paralax scrolling
 ******************/
.bg-1{
    background: url(../img/background-1.jpg) 50% -195px no-repeat fixed;
}

.bg-2{
    background: url(../img/background-2.jpg) 50% -195px no-repeat fixed;
}

.bg-3{
    background: url(../img/background-3.jpg) 50% -195px no-repeat fixed;
}

.bg-4{
    background: url(../img/background-4.jpg) 50% -195px no-repeat fixed;
}

.bg-parallax {
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    height: 300px;
    margin: 0 auto;
    width: 100%;
    display: table;
    vertical-align: middle;
    padding:120px 0px 120px 0px;
}


/*******************
      SERVICES
 ******************/

.services .fa{
    color:#ffffff;
    border: 2px solid #fff;
    border-radius:100%;
    width:115px;
    height:115px;
    line-height: 110px;
    text-align:center;
    margin-bottom: 10px;
    margin-top:60px;
   
}

/*******************
      COURSES
 ******************/

.lib-panel {
    margin-bottom: 20px;
    background-color: #FFFFFF;
}

.lib-info{
    padding:25px;
}

/*******************
        QUOTE
 ******************/
hr{
    border-top:2px solid #fff;
    width:20%;
    margin-left:auto;
    margin-right:auto;
    margin-top:10px;
    margin-bottom:10px;
}

.hr-small{
    border-top:2px solid #fff;
    width:15%;
    margin-left:auto;
    margin-right:auto;
    margin-top:10px;
    margin-bottom:10px;
}

@media(min-width:769px){
.quote{
    padding: 20px 100px 20px 100px;
}
}


/*******************
         FAQ
 ******************/

ul {
    list-style-type: none;
}

.accordion {
    width: 100%;
 }

.accordion .link {
    cursor: pointer;
    display: block;
    padding: 20px 15px 15px 55px;
    position: relative;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.accordion li i {
    position: absolute;
    top: 16px;
    left: 12px;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    font-size:16px;
    border: 2px solid #129793;
    border-radius:100%;
    width:35px;
    height:35px;
    text-align:center;
    line-height: 33px;
}

.accordion p{
    padding:0 15px 0 54px;
}

.accordion li.default .submenu {
    display: block;}

.submenu {
 	display: none;
 }

/*******************
      REVIEWS
 ******************/
#quote-carousel .carousel-inner {
    height:350px;
}

.item blockquote {
    border-left: none; 
    margin: 0;
}

.item blockquote img {
    margin-bottom: 10px;
}

.item blockquote p, .item blockquote small {
    color:#ffffff;
}

/* indicators */

#quote-carousel .carousel-indicators {
  right: 50%;
  top: auto;
  bottom: 0px;
  margin-right: -19px;
}

#quote-carousel .carousel-indicators li {
  background: #c0c0c0;
}

#quote-carousel .carousel-indicators .active {
  background: #129793;
}


/*******************
       PRICING
 ******************/

.panel-info:{
    border-color:#129793;
}
.panel-info h5{
    padding-top:30px;
    padding-bottom:15px;
    color:#129793;
}

hr.divider{
    border-top: 1px solid #129793;
    width:80%;
    margin-left:auto;
    margin-right:auto;
}

.the-price {
    margin-top:30px;
    margin-bottom:30px;
    color:#fff;
    font-size:32px;
    font-weight:400;
    line-height:75px;
    background-color: #9bd7d5;
    padding: 20px;
    border-radius:50%;
    width:120px;
    height:120px;
    margin-left:auto;
    margin-right:auto;
}

.subscript{
    font-size: 18px;
    font-weight:300;
}

.panel-info .btn.btn-lg{
    margin-top:40px;
    margin-bottom:40px;
}

/**** ribbon ****/
.ribbon{
    /*Position correctly within container*/
    position: absolute;
    top: 31px;
    right: 4px;
    z-index: 1; /*Set overflow to hidden, to mask inner square*/
    overflow: hidden; /*Set size and add subtle rounding to soften edges*/
    width: 100px;
    height: 100px;
    border-radius: 3px 5px 3px 0;
}

.ribbon-inner{
    /*Set position, make larger then container and rotate 45 degrees*/
    position: absolute;
    bottom: 0;
    right: 0;
    width: 145px;
    height: 145px;
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg); 
    -moz-transform: rotate(45deg); 
    -webkit-transform: rotate(45deg); 
    -webkit-transform-origin: 100% 100%; 
    -ms-transform-origin: 100% 100%;  
    -o-transform-origin: 100% 100%; 
    -moz-transform-origin: 100% 100%; 
    background-size: 4px,auto, auto,auto;
    background-color: #ff7260;
    box-shadow: 0 3px 3px 0 rgba(1,1,1,.5), 0 1px 0 0 rgba(1,1,1,.5), inset 0 -1px 8px 0 rgba(255,255,255,.3), inset 0 -1px 0 0 rgba(255,255,255,.2);
}

.ribbon-inner:before, .ribbon-inner:after{
    /*Use the border triangle trick to make it look like the ribbon wraps round it's container*/
    content: " ";
    display: block;
    position: absolute;
    bottom: -16px;
    width: 0;
    height: 0;
    border: 8px solid #800000;
}

.ribbon-inner:before{
    left: 1px;
    border-bottom-color: transparent;
    border-right-color: transparent;
}

.ribbon-inner:after{
    right: 0;
    border-bottom-color: transparent;
    border-left-color: transparent;
}

.ribbon-label{
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    padding-bottom: 5px;
    color: #fff;
    font-size: 0.95em;
    text-align: center;
}


/******************************
    LANGUAGE  TIPS AND BLOG
 ******************************/

.blog-container { margin-bottom: 50px; }

.blog-block {
	background: #fff;
	position: relative;
	margin-bottom: 20px;
}

.blog-block:after {
	content: "";
	width: 0;
	height: 0;
	display: block;
	visibility: hidden;
	clear: both;
}

.blog-arrow {
	width: 20px;
	height: 20px;
	display: block;
	background: #fff;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -10px;
	margin-left: -10px;
	z-index: 50;
	-webkit-transform: rotate(45deg);
	   -moz-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	     -o-transform: rotate(45deg);
	        transform: rotate(45deg);
}

.blog-image img{
	width: 50%;
	float: left;
        padding-left:10px;
}

.blog-meta {
	width: 46%;
	height: 100%;
	float: right;
	text-align: center;
	padding: 80px 8% 0 2%;
}


.blog-block.swap .blog-image { float: right; }
.blog-block.swap .blog-meta { float: left; }


.blog-date,
.blog-category{
	display: block;
	font-size: 11px;
	font-weight: 400;
	line-height: 12px;
	color: #6f6f6f;
	text-transform: uppercase;
}
  
h5.blog-title{
    padding-top:15px;
    padding-bottom:15px;
}

.blog-title a {
    color: #129793;
    text-decoration:none;
}
    
.blog-category a {
    color: #000;
}

@media(max-width:1200px){
    .blog-meta{
        padding: 8% 8% 0 2%;
    }
}

@media(max-width:992px){
    .blog-meta{
        padding: 30px 8% 0 2%;
    }
    
    .blog-meta h5{
        font-size:16px;
    }
    
    h5.blog-title{
        padding-top:5px;
        padding-bottom:5px;
    }
}

@media(max-width:768px){
    .blog-meta{
        padding: 12% 8% 0 2%;
    }
}

@media(max-width:480px){
    .blog-meta{
        padding: 5% 8% 0 2%;
    }
     .blog-meta h5{
        font-size:14px;
    }
}

/*******************
       CONTACT
 ******************/
#contact .section-container {
    padding-bottom:40px;
}

.contact-row{
    margin:0px;
    padding-left:20px;
    padding-left:20px;
    
}

.contact-icon{
    margin-top:5px;
}

.contact-icon .fa {
    color:#129793;
    border: 2px solid #129793;
    border-radius:100%;
    width:75px;
    height:75px;
    line-height: 70px;
    text-align:center;
    
}

.contact-info a {
    color:#333;
}
.contact-info h5, .contact-info a:hover{
    color:#129793;
}

.contact-info p{
    line-height:20px;
}



/*** form ***/

.form-control{
    box-shadow:inset 0 1px 1px rgba(0,0,0,0);
    -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0);
}

.form-group input, .form-group textarea{
    border-radius:0;
    border:1px solid #e8e8e8;
    font-style:oblique;
    font-weight:300;
}

.form-group input{
    padding-top:25px;
    padding-bottom:25px;
}

.form-group textarea{
    padding-bottom:48px;
    padding-top:15px;
}

#form-container{
    padding-left:35px;
    padding-right:35px;
    padding-top:35px;
    margin:0;
}

.sender-info{
    padding-right:30px;
}

.message{
    padding-left:30px;
}

/*** map ***/
#map-container{
    width:100%;
    height:400px;
}
.container-fluid{
    padding:0;
}

/*******************
       footer
 ******************/
#footer{
    padding-top:15px;
    padding-bottom: 10px;
    background-color:#9bd7d5;
}

#footer .social li{
    list-style-type: none;
    display: inline-block;
    margin-top:10px;
}

#footer .social>li>a{
    padding:10px 5px;
}

.social .fa{
    color:#ffffff;
    font-size:16px;
    border: 2px solid #ffffff;
    border-radius:100%;
    width:35px;
    height:35px;
    text-align:center;
    line-height: 33px;
}

.social .fa:hover{
    color:#9bd7d5;
    font-size:16px;
    border: 2px solid #ffffff;
    background-color: #ffffff;
    border-radius:100%;
    width:35px;
    height:35px;
    text-align:center;
    line-height: 33px;
}

#footer a{
    color:#fff;
    font-weight:300;
}


/**************
 BLOG
 **************/

@media(min-width:768px){
    #blog-entries {
        margin-top:200px;
    }
}

.entry-content{
    margin-bottom:60px;
    padding: 10px 30px 30px 30px;
}
.posted-date{
	display: block;
	font-size: 18px;
	font-weight: 300;
	line-height: 12px;
	color: #a5a5a5;
	text-transform: uppercase;
}

h3.entry-title{
    color:#129793;
    padding-top:5px;
}

.entry-image{
    max-height:350px;
    overflow: hidden;
    margin-bottom: 30px;
    
}

.entry-image img{
    width:100%;
}

.more-link {
  font-style: italic;
  font-weight: 300;
  color: #9bd7d5;
  text-decoration: none;
}
.more-link:hover {
  color: #129793;
  text-decoration: underline;
}
.more-link {
  display: block;
  width: 100%;
  text-align: right;
}

@media (max-width:480px){
  .entry-content p {
        font-size:14px;
    }
}

/* pagination */
.pagination > li > a {
  color: #9bd7d5;
  border: 0 none;
  font-size: 14px;
  font-weight:300;

}
.pagination > li > a:hover {
  color: #129793;
  background: none;
}
.pagination > li.active > a, .pagination > li.active > a:hover, .disabled a{
  color: #129793;
  background: none;
}



/*.section-title,
.entry-title {
  display: block;
  width: 100%;
  overflow: hidden;
  margin: 0px 0 25px;
  text-align: center;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 36px;
  font-size: 2.25rem;
  letter-spacing: 1px;
}
.section-title a,
.entry-title a {
  color: #333333;
}
.section-title span,
.entry-title span {
  display: inline-block;
  position: relative;
}
.section-title span:before,
.entry-title span:before,
.section-title span:after,
.entry-title span:after {
  content: "";
  position: absolute;
  height: 4px;
  top: .53em;
  width: 400%;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
}
.section-title span:before,
.entry-title span:before {
  right: 100%;
  margin-right: 45px;
}
.section-title span:after,
.entry-title span:after {
  left: 100%;
  margin-left: 45px;
}
.entry-header .entry-meta {
  text-align: center;
  font-family: Georgia, serif;
  font-size: 18px;
  font-size: 1.125rem;
  font-style: italic;
  font-weight: normal;
  color: #a5a5a5;
  margin: 0 0 15px 0;
}
.entry-header .entry-meta a {
  color: #a5a5a5;
}
.entry-content {
  margin: 0 0 60px 0;
}
.entry-content h2 {
  line-height: 1.2;
  font-size: 30px;
  font-size: 1.875rem;
  padding-top: 20px;
  margin-bottom: 20px;
}
.meta-nav,
.more-link {
  font-family: Georgia, serif;
  font-style: italic;
  font-weight: bold;
  color: #666666;
  text-decoration: none;
}
.meta-nav:hover,
.more-link:hover {
  color: #333333;
  text-decoration: underline;
}
.more-link {
  display: block;
  width: 100%;
  text-align: right;
}

/* Posts navigation */
/*#nav-below {
  position: fixed;
  top: 48%;
}
#nav-below .meta-nav {
  display: block;
  padding: 27px 7px;
  background: #444;
  color: #fff;
  -webkit-border-radius: 3px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 3px;
  -moz-background-clip: padding;
  border-radius: 3px;
  background-clip: padding-box;
  font-family: "Open sans", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  opacity: 0.2;
}
#nav-below .meta-nav:hover {
  text-decoration: none;
  color: #333;
}
#nav-below .nav-next {
  position: fixed;
  right: -3px;
}
#nav-below .nav-previous {
  position: fixed;
  left: -3px;
}
#nav-below b {
  display: none;
}
footer.entry-meta {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  margin: 0 0 35px 0;
  padding: 2px 0;
  color: #888888;
  font-size: 12px;
  font-size: 0.75rem;
}
footer.entry-meta a {
  color: #333333;
}
footer.entry-meta .meta-in {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
}
.page-header {
  padding-bottom: 0;
  margin: 0;
  border-bottom: none;
  text-align: left;
}
.page-header .page-title {
  margin-top: 0;
  margin-bottom: 30px;
}*/
/*********************************************************************
 

                                COMMENTS


**********************************************************************/
#comments {
  font-size: 13px;
  font-size: 0.8125rem;
}
#comments .comments-title {
  margin: 0 0 5px 0;
}
#comments .leave-comment {
  display: block;
  margin: 0 0 40px 0;
}
#comments ul,
#comments ol {
  margin: 0;
  padding: 0;
}
#comments .comment {
  margin: 0;
  padding: 0;
  list-style: none;
  clear: both;
}
#comments .comments-title {
  text-shadow: none;
  margin-bottom: 0;
}
#comments .avatar {
  float: left;
  width: 70px;
  height: 70px;
  margin-bottom: 30px;
  border: 5px solid #eeeeee;
  -webkit-border-radius: 50%;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 50%;
  -moz-background-clip: padding;
  border-radius: 50%;
  background-clip: padding-box;
}
#comments .children {
  margin: 0 0 0 90px;
}
#comments .comment-meta {
  margin: 0 0 0 90px;
}
#comments .comment-meta a {
  color: #333333;
}
#comments .comment-meta a:hover {
  color: #bd1550;
}
#comments .comment-meta .author {
  margin: 0 20px 0 0;
  font-weight: bold;
}
#comments .comment-meta .date {
  margin: 0 20px 0 0;
}
#comments .comment-meta .date a {
  color: #666666;
}
#comments .comment-meta .reply {
  float: right;
}
#comments .comment-body {
  margin: 0 0 35px 90px;
}
.comment-navigation {
  width: 100%;
  border-top: 1px solid #ccc;
  padding: 2px 0 0 0;
}
.comment-navigation .nav-content {
  border-top: 1px solid #ccc;
  width: 100%;
  padding: 10px 0 0 0;
}
.comment-navigation .nav-previous {
  float: left;
  width: 50%;
}
.comment-navigation .nav-next {
  float: right;
  width: 50%;
  text-align: right;
}
#respond {
  margin: 55px 0 0 0;
}
